matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
            - cmake
            - make
            - libcurl4-gnutls-dev
            - gpsd
            - libqgpsmm23
            - libqgpsmm-dev
            - libgps
            - libgps-dev
            - cppcheck
            - libcppunit-dev
      env:
         - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - cmake
            - make
            - libcurl4-gnutls-dev
            - gpsd
            - libqgpsmm23
            - libqgpsmm-dev
            - libgps
            - libgps-dev
            - cppcheck
            - libcppunit-dev
      env:
         - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - cmake
            - make
            - libcurl4-gnutls-dev
            - gpsd
            - libqgpsmm23
            - libqgpsmm-dev
            - libgps
            - libgps-dev
            - cppcheck
            - libcppunit-dev
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - cmake
            - make
            - libcurl4-gnutls-dev
            - gpsd
            - libqgpsmm23
            - libqgpsmm-dev
            - libgps
            - libgps-dev
            - cppcheck
            - libcppunit-dev
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

before_install:
    - eval "${MATRIX_EVAL}"
